
.my-carousel .carousel-container {
  position: relative;
  margin-top: 200px;
}

.pa {
  font-size: 10px; 
  align-items: center;
  font-weight: 500;
  font-family: sans-serif;
}

.my-carousel .carousel-control-prev {
  left: -120px;
}

.my-carousel .carousel-control-next {
  right: -120px;
}

.my-carousel .carousel-item::before {
  display: none;
}

.my-carousel .carousel-indicators {
  display: none;
}

.my-carousel .carousel-control-prev-icon,
.my-carousel .carousel-control-next-icon {
  filter: invert(100%);
}

.my-carousel .pa{
  font-size: 10px;
}

@media (max-width: 576px) {
  .my-carousel  .carousel-control-prev {
    left: 0px;
  }

  .my-carousel .carousel-control-next {
    right: 0px;
  }
}