#grid {
    max-width: 768px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 10px;
    margin: auto;
    grid-template-areas: ;
  }
  #grid div {
    border-radius: 15px;
    width: auto;
  }.one {
    background: #47AC70;
  }
  
  .two {
    background: #00A19C;
  }
  
  .three {
    background: #0080B9;
  }
  
  .four {
    background: #3C54A0;
  }
  
  .five {
    background: #7EB65B;
  }
  
  .six {
    background: #3FA96B;
  }
  
  .seven {
    background: #938197;
  
  }
  
  .eight {
    background: #F2B052;
  }

  @media (max-width:768px) {
    #grid {
      display: block;
      margin: auto;
    }
  
    #grid div {
      height: 100px;
      width: auto;
      margin: 20px;
    }
  
    .one {
      background: #E47BA3;
    }
  
    .two {
      background: #A762A1;
    }
  
    .three {
      background: #938197;
    }
  
    .four {
      background: #3C54A0;
    }
  
    .five {
      background: #0080B9;
    }
  
    .six {
      background: #7EB65B;
    }
  
    .seven {
      background: #F4B15A;
    }
  
    .eight {
      background: #EA837A;
    }
}