* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    background-color: #3AA0E8;
    width: 100%;
}

.title{
    font-size: 20px;
   display: flex;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    justify-content: center;
   
  
}

p{
    border-bottom: 3px solid #fff;
    width: -1%;
    align-items: center;
    letter-spacing: 2px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.item{
    margin-top: 4rem;
   color: #fff;
    margin: 1rem;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 12px;
}

.item img{
    margin-bottom: 20px;
    width: 80px;
}