

  .o-container{position: relative;
    top: -2rem;
    background-color: #013D69 ;
    max-width: 1536px;
    margin: 0 auto;
  }

  .o-item{
    display: flex;
    justify-content:center;
    margin-top: 50px;
    align-items: baseline;
    width: 100%;
    height: 400px;
    color: #fff;
    
  }

  .o-item>p{
    font-size: 20px;
    margin-top: 50px;
    border-bottom: 3px solid #fff;
    font-weight: 600;
    letter-spacing: 2px;
  }


  